## Api Gateway
GATEWAY_PORT=3000


## User Microservice
USERSMS_HOST="usersms"
USERSMS_PORT=3000
USERSMS_HEALTHCHECK_PORT=3001

USERSDB_HOST="usersdb"
USERSDB_PORT=3306
USERSDB_ROOT_PASSWORD="123#123!!"
USERSDB_DATABASE="USERS"
USERSDB_USER="usersms"
USERSDB_PASSWORD="1"